@import "../node_modules/nib"


//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through gulp
/* inject:styl */
@import "admin/admin"
@import "main/main"
/* endinject */
