.wrapper-room {
  width: 45rem;
  position: absolute;
  top: 4rem;
  height: 40rem;
  background-color: #f5f5f5;
}
.wrapper-room .left-panel {
  width: 16rem;
  float: left;
  background-color: #2c3e50;
  color: #f5f5f5;
  height: 100%;
  text-align: center;
}
.wrapper-room .left-panel .box {
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
}
.wrapper-room .left-panel .box input#search {
  width: 10rem;
  padding: 15px 0 15px 20px;
  border: 0 none;
  height: 40px;
  margin-right: 0;
  color: #fff;
  outline: none;
  background: #32465a;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}
.wrapper-room .left-panel .box input#search::placeholder {
  color: #fff;
  text-overflow: ellipsis;
}
.wrapper-room .left-panel .box #searchButton {
  border: 0 none;
  background: #32465a url("https://designmodo.com/demo/dropdown-menu-search/search.png") center no-repeat;
  width: 60px;
  float: left;
  padding: 0;
  text-align: center;
  height: 40px;
  cursor: pointer;
}
.wrapper-room .left-panel ul.group-contact {
  list-style-type: none;
  padding: 0px;
  border-bottom: 1px solid;
}
.wrapper-room .left-panel ul.group-contact li {
  display: inline-block;
  text-align: center;
  width: 4.5rem;
}
.wrapper-room .left-panel ul.group-contact li:hover {
  border-bottom: 1px solid #1f7f5c;
  cursor: pointer;
}
.wrapper-room .right-panel {
  width: 70%;
  float: left;
  background-color: #f5f5f5;
  height: 100%;
}
