@import "../bower_components/nib"

/*-------------------------------*/
/*           TYPOGRAPHY          */
/*-------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto')

*
  box-sizing: border-box

/**
 * Desc rem: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
 * Most browsers has a default value of 16px
 * 62.5% of 16px = 10px
 * 1.4 = 14px
 **/
html
  font-size 10px

html, body
  height 100%
  margin 0px
  padding 0px

body
  font-family 'Roboto', sans-serif
  font-size 1.4rem
  font-weight 400
  color #212529
  line-height 1.5
  background-color #fff
  .container-flex
    width 100%
    min-height 100vh
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    padding 1.5rem
    background-color #ebebeb

