/*-------------------------------*/
/*           TYPOGRAPHY          */
/*-------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * Desc rem: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
 * Most browsers has a default value of 16px
 * 62.5% of 16px = 10px
 * 1.4 = 14px
 **/
html {
  font-size: 10px;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
